body{
	font-family: 'Montserrat', sans-serif;
}
header{
	background:url("img/bgheader.jpg");
	height: 659px;
	background-repeat: no-repeat;
	background-size: cover;
}
ul{
	width: 100%;
	height: 40px;
	display: block;
}
ul li{
	display: block;
	float: left;
}
li a{
	color: white;
	font-size: 14px;
	padding: 8px 6px;
	display:block;
	border-top: 5px solid transparent;
}
.activo, li a:hover{
	font-weight: bold;
	border-top: 5px solid #54d154;
	color: #fff;
	text-decoration: none;
}
.buscador{
	background: rgba(217,216,216, 0.9);
	border: none;
	border-radius: 15px;
	height: 27px;
	padding: 7px 14px;
	font-size: 16px;
	color: #111111;
	width: 100%;
	margin-top: 5px;
}
#center-header{
	height: 534px;
}
#centradito{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#centradito h1{
	color: #fff;
	font-weight: bold;
	font-size: 55px;
}
.article a, #centradito a{
	background: #54d154;
	color: #fff;
	text-align: center;
	display: block;
	width:205px;
	height: 49px;
	border-radius: 30px;
	padding: 7px 0;
	font-weight: normal;
	font-size: 21px;
	transition: 0.5s ease all;
}
.article a:hover, #centradito a:hover{
	text-decoration: none;
	background: #f34d04;
	transform: scale(1.05);
}
.scroll{
	background: rgba(255,255,255,0.75);
	color: #111;
	text-align: center;
	width: 80%;
	height: 25px;
	border-radius: 25px;
	display: block;
	margin: auto;
	font-size: 16px;
	font-weight: 300;
}
.encabezado h2{
	padding-top: 42px;
	font-size: 20px;
	color: #828181;
	text-align: center;
	letter-spacing: 2px;
} 
.encabezado h2:after{
	content:"";
	width: 44px;
	height: 1px;
	background: #828181;
	display: block;
	margin: 15px auto;

}
.encabezado p{
	color: #b7b3b3;
	font-size: 12px;
	font-weight: 300;
	text-align: center;
	   margin-right: 8px;
    margin-top: -11px;
}
}
.article{margin-bottom: 73px;}
.article .wrapper-img{
	width: 50%;
	height: 142px;
	background: #e1f3e1;
	border-radius: 20px;
	margin: 27px auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.wrapper-img i{
	color: #54d154;
	font-size: 80px;
}
.article h3{
	font-size: 24px;
	color: #828181;
	font-weight: 400;
	text-align: center;
	margin-bottom: 15px;
}
.article p{
	font-size: 15px;
	font-weight: 300;
	text-align: center;
}
.article a{
	height: 30px;
	width: 40%;
	margin: auto;
	font-size: 16px;
	padding: 3px 0;
}
.bg_verde{
	background: #54d154;
	height: 654px;
}
.encabezado2 h2{
	padding-top: 42px;
	font-size: 20px;
	color: #207b20;
	text-align: center;
	letter-spacing: 2px;
} 
.encabezado2 h2:after{
	content:"";
	width: 44px;
	height: 1px;
	background: #207b20;
	display: block;
	margin: 15px auto;

}
.encabezado2 p{
	color: #207b20;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	 }
.centrado{
	display: flex;
	justify-content: center;
}
.menu2{
	margin: 20px auto 20px;
	font-size: 0;
	line-height: 6px;
} 
.menu2 a{
	display: inline-block;
	text-decoration: none;
	font-size: 14px;
	padding: 10px;
	background-color: #fff;
	color: #2b9b2b;
	border: 1px solid #2b9b2b;
}
.menu2 a:not(:last-child){
	border-right: none;

}
.menu2 a:hover{
	color: #fff;
	background-color: #2b9b2b;
}
.menu2 a:first-of-type {
	border-radius: 14px 0 0 14px;
}
.menu2 a:last-of-type{
	border-radius: 0 14px 14px 0;
}

.seccion-img img{
	display: flex;
	justify-content: center;
	float: left;
	width: 145px;
	height: 155px;
	margin: 11px ;
	margin-top: 16px;
}

.wapper2{
	width: 250px;
	display: flex;
	display: inline-block;
	float: center-block;
}
.wapper a{
	display: flex;
	justify-content: center;
	padding-top: 5px;
	align-items: center;

}
.wapper a{
	background: rgb(43, 155, 43, 1);
	border-radius: 30px;
	width: 180px;
	height: 35px;
	color: #fff;
	display: block;
	font-weight: normal;
	text-align: center;
	border:none;
	padding: 5px 1px;
	font-size: 15px;
	margin-top: 15px;
	margin: 25px;
	transition: 0.5s ease all;
}
.wapper a:hover{
	background: #be10de;
	text-decoration: none;
	transform: scale(1.05);

}
.derecha{
	padding-left: 15px;
}
.center-block{
	display: flex;
	justify-content: center;
}

.slick-prev:before,.slick-next:before{
	color: #444;
}

.testimonials img{
	float: left;
	margin-right: 8px;

}
.testimonials p{
	display: block;
	text-align: center;
	color: #111;

}
.testimonials {
	color:#ccc;
	padding: 35px;
}
.testimonials p{
	color: #444444;
	text-align: center;
	font-weight: normal;
}

.ceotext p{
	color: #444;
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;

}
.testi1{
	display: flex;
	align-items: center;
}
.bg_gris{
	background: #f2f1f1;
	padding-right:  15px;
	padding-left: 15px;
	margin-top: 25px;
	height: 654px;

}
.imagenes1{
	margin-right: 15px;
	    /* display: flex; */
    display: inline-block;
    /* margin-right: 13px; */
    padding: 1px;
    margin: -4px;
    margin-top: -31px;
    margin-left: 271px;
}
.imagenes1 img{
	margin-top: 15px;
	display:inline-block;
	margin: 50px;
	justify-content: center;
	padding-top: 50px;
	margin-left: 15px;

}
.img {
	display: inline-block;
	padding-top: 50px;

}
.img1{
	display: inline-table;
}
.bg_verde2 {
	background: #3eba3e;
	display: flex;
	height: 80px;
	
}
.d-center{
	margin: 15px;
}
.people img{
	margin:15px;
	display: block;
}
.vl{
	border-left: 2px solid green;
	height: 90px;
	position: left;
	padding: 22px!important;
	left: 50%;
	margin: 21px auto;
	align-items: center;
	margin-left: -13px;
}
.nombre {
	text-align: center;
	color: #fff;
	font-weight: bold;
	margin-left: -13px
}
.scroll a{
	background-color: #dddcdc;
}
.bg_verde2 a{
	background: #54d154;
}
.casa{
    background: #c5e9c5;
    margin: 44px;
    border-radius: 25px;
    text-align: center;
    margin-top: 15px;
}
.casa2{
	background-color: #c5e9c5;
	   border-radius: 25px;
    text-align: center;
        margin: 12px auto;
    width: 103px;
}
.rojo {
	color: #e56291;
}
.fondo1{
	color: #1d53aa;
	border-radius: 25px;
}
.bg_negro{
	background: #333333;
	height: 654px;
}
.acomodar img{
	width: 92px;
	height: 59px;
	margin-top: 8px;
}
.fondo2 p{

}
.titulo p{
	font-weight: normal;
	font-size: 25px;
}
.titulo {
    color:#a6a6a6;
    font-size: 12px;
    text-align: center;
    margin: -5px;
}
.titulo1 {
width: 84px;
	background: #54d154;
	font-size:13px;
	color:white ;	
	border-radius: 5px;	
	font-weight: 400;
	text-align: center;
	margin: 119px;
}
.titulo1 a{
	height: 15px;
}
.fondo2 {
    color:#a6a6a6;
    font-size: 12px;
    text-align: center;
}
.titulo2 {
width: 84px;
	background: #ffba00;
	font-size:13px;
	color:white ;	
	border-radius: 5px;	
	font-weight: 400;
	text-align: center;
	margin: 119px;
}
.fondo3{
    color:#a6a6a6;
    font-size: 12px;
    text-align: center;
}
.titulo3 {
width: 84px;
	background: #089dea;
	font-size:13px;
	color:white ;	
	border-radius: 5px;	
	font-weight: 400;
	text-align: center;
	margin: 119px;
}
.fondo4 {
    color:#a6a6a6;
    font-size: 12px;
    text-align: center;
}
.titulo4 {
width: 84px;
	background: #f34d04;
	font-size:13px;
	color:white ;	
	border-radius: 5px;	
	font-weight: 400;
	text-align: center;
	margin: 119px;
}
.fondo5 {
    color:#a6a6a6;
    font-size: 12px;
    text-align: center;
}
.titulo5{
width: 84px;
	background: #ffba00;
	font-size:13px;
	color:white ;	
	border-radius: 5px;	
	font-weight: 400;
	text-align: center;
	margin: 119px;
}
.bg_negro2{
	background: #222222 ;
}
.final{
	display: block;
	margin-top: 28px;
}
.negro3 {
	background: #111111;
	color: #fff;
}
.text1{
	text-align: center;
}
.from{
	background-color: #333333;
}
.nombre1{
	width: 292px;
	background-color: #444444;
	border: none;
	display: inline-block;
}
.email1{
	width: 292px;
	background-color: #444444;
	border: none;
	align-items: center;
	margin-top: 5px;
}
.mensaje1{
	height: 150px;
	background-color: #444444;
	border: none;
	margin-top: 5px;
}
.enviar1{
	background-color: #2b9b2b;
	margin-top: -1px;
	width: 290px;
	border: none;
	color: white;
	text-align: center;
	font-size: 12PX;
	font-weight: normal;
}
.posicion{
	margin-top: 15px;
}
.posicion img{
	    height: 59px;
    width: 148px;
    margin-top: 20px;
}
.final1{
	text-align: center;
    margin: 0px;
    margin-left: 594px;
}
.cambiocolor h2{
	color: #222222;
}