body{
font-family: 'Montserrat', sans-serif;
}
header{
	background:url("img/bigheader.jpg");
	height: 659px;
	background-repeat: no-repeat;
	background-size: cover;
}
ul{
	height: 40px;
	width: 100%;
	display: block;
}
ul li{
	display:inline-block;
	float: left;
}
li a{
	color: white;
	font-size: 15px;
	padding: 8px 6px;
	display: block;
	border-top: 5px solid transparent;
}
.activo, li a:hover{
	font-weight: bold;
    border-top:5px solid #54d154; /*borde de arriba*/
    color: white;
    text-decoration: none;
}
.buscador{
	background: rgba(217,216,216,0.75);
	border: none;
	border-radius: 15px;
	height: 27px;
	padding: 7px 14px;
	font-size: 16px;
	color: #111111;
	width: 100%;
	margin-top: 5px;
	}
	#center_header{
		height: 565px;
	}
	#centradito{
		display: flex;
		justify-content: center; /*orisontamelte*/
		align-items: center;
		flex-direction:column; /*poner todo en filas*/

	}
	#centradito h1{
		color: #FFFFFF;
		font-size: 55px;
		font-weight: bold;
	}
	#centradito a{
		background: #54d154;
		color: #fff;
		text-align: center;
		display: block;
		width: 205px;
		height: 49px;
		border-radius: 30px;
		padding: 7px 0;
		font-weight: normal;
		font-size: 21px;
		transition: 0.5s ease all;
	}
	#centradito a:hover{
		text-decoration: none;
		background: #f34d04;
		transform: scale(1.05);
	}
	#down{
		display: flex;
		justify-content: center; /*orisontamelte*/ 

}
	#down a{
		background:rgba(217,216,216, 0.9);
	    border: none;
	    border-radius: 20px;
	    width: 132px;
	    height: 22px;
	    color: #111111;
	    text-align: center;
	    padding: 2px 0px;
	    text-decoration: none;
	    font-size: 12px;
	}
	.flechita{
		margin-left: 12px;
	}
#centradro{
	justify-content: center;
	display: flex;

}
	.text-center{
		font-size: 22px;
		color: #828181;
		margin-top: 8px;

	}
	.parafo{
		font-size: 12px;
		text-align: center;
		color: #c2bebe;
        margin-top: 0px;

	}
	.linea {
		justify-content: center;
		width: 45px;
		height: 3px;
		background-color: #828181; 
		float: center;
	}
	#blog{
		display: flex;
		padding: 71px;
	}
	#blog .contenedor{

	}
	#blog img{
		display: block;
		margin: auto;
		padding: 18px;

	}
	#blog h3{
		text-align: center;
		color: #828181;
		font-weight: bold;
		margin:auto;
		padding: 8px;
	}
	#blog p{
		color: #b4b3b3;
	    text-align: center;
	     padding: 10px;
	     overflow-wrap: break-word;

	}
#blog a{
	  background:#54d154;
	    border: none;
	    border-radius: 20px;
	    width: 132px;
	    height: 22px;
	    color: #111111;
	    text-align: center;
	    padding: 2px 0px;
	    text-decoration: none;
	    font-size: 12px;
	}
	#blog a:hover{
		text-decoration: none;
		background: #f34d04;
		transform: scale(1.05);
	}
/*nav{
	height: 13px;
	width: 29px;
	color:#FFFFFF;
	background-position: center;
	font-family: arial;
	font-size: 14px;
	line-height: 1.4em;
	margin: 0;

}
h1{
	background-position: center;
	text-transform: capitalize;
	 font-family: georsssgia;
}
#nav_header{
	list-style: none;
}
.boton{
	display: inline-block;
	width: 20%;
    text-align: center;
    float: left;
    margin-left: 15px;
    margin: 10px;
}/*
