body{
font-family: 'Montserrat', sans-serif;
}
header{
	background:url("img/bigheader.jpg");
	height: 659px;
	background-repeat: no-repeat;
	background-size: cover;
}
ul{
	height: 40px;
	width: 100%;
	display: block;
}
ul li{
	display:inline-block;
	float: left;
}
li a{
	color: white;
	font-size: 15px;
	padding: 8px 6px;
	display: block;
	border-top: 5px solid transparent;
}
.activo, li a:hover{
	font-weight: bold;
    border-top:5px solid #54d154; /*borde de arriba*/
    color: white;
    text-decoration: none;
}
.buscador{
	background: rgba(217,216,216,0.75);
	border: none;
	border-radius: 15px;
	height: 27px;
	padding: 7px 14px;
	font-size: 16px;
	color: #111111;
	width: 100%;
	margin-top: 5px;
	}
	#centradito{
		display: flex;
		justify-content: center; /*orisontamelte*/
		align-items: center;
		flex-direction:column; /*poner todo en filas*/

	}
	#centradito h1{
		color: #FFFFFF;
		font-size: 55px;
		font-weight: bold;
	}
	#centradito a{
		background: #54d154;
		color: #fff;
		text-align: center;
		display: block;
		width: 205px;
		height: 49px;
		border-radius: 30px;
		padding: 7px 0;
		font-weight: normal;
		font-size: 21px;
		transition: 0.5s ease all;
	}
	#centradito a:hover{
		text-decoration: none;
		background: #f34d04;
		transform: scale(1.05);
	}
	#center{
		height: 565px;
	}
	#down{
		display: flex;
		justify-content: center; /*orisontamelte*/
		align-items: center;
		flex-direction:column; 

}
.distancia{
padding-left: 5px;
}
	#down a{
		background:rgba(217,216,216, 0.9);
	    border: none;
	    border-radius: 11px;
	    width: 115px;
	    height: 26px;
	    color: #111111;
	    text-align: center;
	    padding: 3px 0px;
	    text-decoration: none;
	}

	.centrar{
		text-align: center;;
		color: #c2bebe;
		font-size: 12px;
}

 .linea {
	width: 25px
	height 3px;
	border: 0;
	background-color: #828181;
}
#wappers section{
	height: 100%;
	width: 66%;
	float: left;
	padding: 0 2%;
}
article {
	float: left;
	width: 30%;
	overflow: hidden;
	text-align: center;
}
#caption{
	
}
/*nav{
	height: 13px;
	width: 29px;
	color:#FFFFFF;
	background-position: center;
	font-family: arial;
	font-size: 14px;
	line-height: 1.4em;
	margin: 0;

}
h1{
	background-position: center;
	text-transform: capitalize;
	 font-family: georsssgia;
}
#nav_header{
	list-style: none;
}
.boton{
	display: inline-block;
	width: 20%;
    text-align: center;
    float: left;
    margin-left: 15px;
    margin: 10px;
}/*
